## Accessos a Onco_connect.db

#### Importacions i Variables Globals

In [7]:
import sqlite3
from pathlib import Path

# Use the current working directory in Jupyter (no __file__ available)
BASE_DIR = Path.cwd()
DB_PATH = BASE_DIR / "onco_connect.db"

conn = sqlite3.connect(str(DB_PATH))
c = conn.cursor()

#### Taules:

In [8]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = c.fetchall()
for table in tables:
    print(table)

('users',)
('login_history',)
('test_results',)
('daily_checkin',)
('incidencies',)
('logs',)

In [9]:
for TAULA in ['users', 'login_history', 'test_results', 'incidencies', 'daily_checkin', 'logs']: 
    c.execute(f"SELECT * FROM {TAULA};")
    rows = c.fetchall()
    print(f"\nDades de la taula {TAULA}:")
    for row in rows:
        print(row)

Dades de la taula users:
('pacient', '03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', 'Joan Garcia', '2025-12-13', 1)
('admin', '03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', 'Administrador', '2025-12-13', 1)

Dades de la taula login_history:
('pacient', '2025-12-13 18:58:09')
('pacient', '2025-12-13 19:08:20')
('pacient', '2025-12-13 19:30:47')
('pacient', '2025-12-13 19:33:52')
('pacient', '2025-12-13 19:36:01')

Dades de la taula test_results:

Dades de la taula incidencies:
('pacient', '2025-12-13 18:58:56', 0)
('pacient', '2025-12-13 18:58:56', 1)
('pacient', '2025-12-13 18:58:56', 2)
('pacient', '2025-12-13 18:58:56', 3)
('pacient', '2025-12-13 18:58:56', 4)
('pacient', '2025-12-13 18:58:56', 5)
('pacient', '2025-12-13 18:58:56', 6)
('pacient', '2025-12-13 18:59:10', 1)
('pacient', '2025-12-13 18:59:10', 2)
('pacient', '2025-12-13 18:59:10', 3)
('pacient', '2025-12-13 18:59:10', 4)
('pacient', '2025-12-13 18:59:10', 6)
('pacient', '2025-12-13 19:09:13', 2)
('pacient', '2025-12-13 19:09:13', 3)
('pacient', '2025-12-13 19:09:13', 5)
('pacient', '2025-12-13 19:09:13', 8)
('pacient', '2025-12-13 19:37:01', 3)
('pacient', '2025-12-13 19:37:01', 6)

Dades de la taula daily_checkin:
('pacient', '2025-12-13', 4)

Dades de la taula logs:
('pacient', '2025-12-13 19:34:07', 'HOOLAAAAAAAA')
('pacient', '2025-12-13 19:36:27', 'buenassssss')
('pacient', '2025-12-13 19:36:33', 'buenassssss')
('pacient', '2025-12-13 19:36:47', 'buenassssss')
('pacient', '2025-12-13 19:36:53', 'buenassssss')

### Veure tot d'una taula :

In [10]:
TAULA = 'logs'
c.execute(f"SELECT * FROM {TAULA};")
rows = c.fetchall()
for row in rows:
    print(row)

('pacient', '2025-12-13 19:34:07', 'HOOLAAAAAAAA')
('pacient', '2025-12-13 19:36:27', 'buenassssss')
('pacient', '2025-12-13 19:36:33', 'buenassssss')
('pacient', '2025-12-13 19:36:47', 'buenassssss')
('pacient', '2025-12-13 19:36:53', 'buenassssss')

## Sentències d'inicialització de la BD:

## Tancar Sessió

In [11]:
conn.commit()
conn.close()